body {
	background-color: #FFFFFF;
}

.Main {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

.Sheet {
	overflow: hidden;
	min-width: 33px;
	min-height: 33px;
	margin: 0 auto;
	position: relative;
	z-index: 0;
	width: 1000px;
	background-color: #ffffff;
}

div.Header {
	margin: 0 auto;
	position: relative;
	z-index: 0;
	width: 998px;
	height: 150px;
}

div.Header-jpeg {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 998px;
	height: 150px;
	background-image: url('../images/Cabecera.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.saludo {
	margin-left: 50px;
}

.logo {
	display: block;
	position: absolute;
	left: 20px;
	top: 16px;
	width: 978px;
}

h1 {
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 26px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	padding: 0;
	margin: 0;
	color: #0B6138 !important;
}

h2 {
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	color: #729B2C;
}
/*formato para el mensaje Sistema.....*/
.logo-text, .logo-text a {
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	padding: 0;
	margin: 0;
	color: #0B6138 !important;
}

.Footer {
	position: relative;
	z-index: 0;
	overflow: hidden;
	width: 998px;
	margin: 5px auto 0px auto;
}

.Footer .Footer-background {
	position: absolute;
	z-index: -1;
	background-repeat: no-repeat;
	background-image: url('../images/Footer.png');
	width: 998px;
	height: 100px;
	bottom: 0;
	left: 0;
}

.page-footer, .page-footer a, .page-footer a:link, .page-footer a:visited,
	.page-footer a:hover {
	font-family: Arial;
	font-size: 10px;
	letter-spacing: normal;
	word-spacing: normal;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	color: #729B2C;
}

.page-footer {
	margin: 1em;
	text-align: center;
	text-decoration: none;
	color: #004040;
}

.contentLayout {
	margin-bottom: 10px;
	width: 998px;
	position: relative;
}

.PostContent {
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	text-align: justify;
	line-height: 100%;
	color: #161811;
	margin-top: 50px;
	margin-left: 250px;
	margin-right: 200px;
	/*height: 330px;*/
	position: relative;
}

.cleared {
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 1px;
}

.article {
	border-style: solid;
	border-width: 1px;
	border-color: #D8E6A3;
	margin: 1em;
}

.mensaje {
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	color: red;
}

.mensajelogin {
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	color: red;
}

.contenido {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

.ui-state-default .icon-login {
	background-image: url("../img/login.png");
}

.ui-state-default .icon-close {
	background-image: url("../img/cerrar.png");
}

.ui-state-default .icon-delete {
	background-image: url("../img/eliminar.png");
}